body{
    background-color: rgb(56, 7, 53);
    margin: 0;
    padding: 0;
}
h1{
    color: white;
    text-align: center;
}
label{
    color: white;
    font-size:20px;
}
p{
    color:white;
    font-size: 20px;
}